version: '3.4'

services:
  tests:
    build:
      context: .
      dockerfile: EqlibApi.Tests/Dockerfile
    environment:
      - API_URL=http://api:80
      - CONNECTION_STRING=Host=db;Database=postgres;Username=postgres;Password=password
    entrypoint: bash /src/wait_for_it.sh db:5432 -t 0 -- dotnet test
    depends_on:
      - db
  db:
    image: postgres:latest
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=password
    volumes:
      - ./Scripts:/docker-entrypoint-initdb.d